//Colors

$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%);
$darkGray:hsl(0, 0%, 55%);
$veryDarkGray:hsl(0, 0%, 41%);

//Font Sizes 

$font-body: 1rem;
$title2 : 1.5rem;
$title3 : 1.3rem;
$medium: 2rem;
$large: 3.5rem;
$xlarge: 4.8625rem;